body {
  background-image: url(bg.png);
}

.main {
  width: 500px;
  background-image: url(bg.png);
  height: 500px;

  border-style: dashed;
  position: relative;
  border-radius: 100px;
  color: #ddc7c7;
  text-shadow: 0 0 7px #f71111, 0 0 10px #34f1c8, 0 0 21px #a636c9,
    0 0 42px rgb(81, 12, 211), 0 0 82px rgb(143, 19, 112), 0 0 92px #0fa,
    0 0 102px rgb(212, 248, 6), 0 0 151px rgb(12, 158, 109);
  border: 0.2rem solid #fc2c2c;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #df0808, 0 0 0.2rem #c90f0f, 0 0 2rem #ca1533,
    0 0 0.8rem #c2034c, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
.sub1,
.sub2,
.sub3,
.sub4 {
  border-radius: 20px;
}
.sub1 {
  border: black;
  height: 25%;
  width: 25%;
  background-image: url(1702832550679.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  position: absolute;
  bottom: 100px;
  right: 100px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ca1533,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
.sub2 {
  border: black;
  height: 25%;
  width: 25%;
  background-color: bisque;
  position: absolute;
  bottom: 100px;
  background-image: url(1702832550689.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  left: 100px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ca1533,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
.sub3 {
  border: black;
  height: 25%;
  width: 25%;
  background-color: rgb(245, 215, 178);
  position: absolute;
  left: 100px;
  top: 90px;
  background-image: url(1709437236370.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  border-color: rgb(192, 11, 153);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ca1533,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.sub4 {
  border: black;
  height: 25%;
  width: 25%;
  background-color: bisque;
  position: absolute;
  right: 100px;
  top: 90px;
  background-image: url(1709437236269.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  border-color: rgb(192, 11, 153);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ca1533,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.words {
  font-size: 20px;
  display: flex;
  position: relative;
  top: 230px;
  width: 200px;
  left: 180px;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button {
  background: rgb(13, 207, 13);
  color: white;
  font-size: 30px;
  border: 5px solid;
  border-radius: 8px;
  padding: 2px 79px 0px 92px;
  position: relative;
  top: 400px;
  left: -2px;
  border-color: rgb(192, 11, 153);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ca1533,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

button:hover {
  background: rgb(13, 207, 13);
  color: white;
  border: 5px solid;
  border-radius: 8px;
  padding: 2px 79px 0px 92px;
  position: relative;
  top: 400px;
  left: -2px;
  border-color: rgb(192, 11, 153);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #ca1533,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  border-color: rgb(226, 7, 171);
  cursor: pointer;
}
